* {
  box-sizing: border-box;
  margin: 0;
  padding: 0s;
}
body {
  background-image: url(./img/alphabet.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container {
  /* border: 2px solid red; */
  width: 450px;
  height: 450px;
  margin: 10rem auto;
  text-align: center;
  padding: 4rem 0;
  background-color: #d9b77949;
}

h3 {
  padding: 2rem 1rem;
  color: #f1b600;
}

#input {
  position: relative;
  left: 3.5rem;
  width: 300px;
  border: none;
  outline: none;
  border: 5px inset #f2d399;
}
button {
  margin: 1rem;
  position: relative;
  top: 2.3rem;
  right: 2.5rem;
  border: none;
  background-color: #252020;
  color: #f1b600;
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
  transition: all 0.5s;
}

button:active {
  transform: scale(95%);
}

.test {
  margin: 2rem 4.8rem;
  padding: 1rem;
  color: #f1b600;
  background-color: #00000067;
  font-size: 1.2rem;
  text-align: justify;
}
